
@import "../img/ionicons-2.0.1/css/ionicons.min.css";
/* color palette
https://coolors.co/b53471-88ad69-38ada9-1289a7-797876
https://coolors.co/639eff-e84855-1b998b-46237a-fbfef9
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
    /* background-color: #3683FF; */
    font-size: 10px;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

header {
    /* background-color: #639EFF; */
    background: linear-gradient(to right bottom,
     rgba(99, 159, 255, 0.877),
     #639EFF ),
      url('../img/Developer-hero.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    
}

header:after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    top: 100%;
    left: 50%;
    margin-left: -2.5em;
    background: #639EFF;
    transform: rotate(45deg);
    margin-top: -2.5em;
    z-index: -5;
}

h1 {
    font-weight: 400;
    /* color: #FBFEFA; */
    font-size: 7em;
    font-weight: 300;
}

.developer {
    display: inline-block;
    font-weight: 400;
    background-color: rgba(251, 254, 250, 0.815);
    color: #639EFF;
    padding: 0.2em;
    border-radius: 2px;
    margin: 0.1em 0.5em;
    transition: all .3s ease;
}

.developer:hover {
    background-color: transparent;
    color: #FBFEFA;
}

.job {
    display: inline-block;
    font-size: 3.7em;
    margin-top: .5em;
    color: #FBFEF9;
    border-right: 1px solid #FBFEF9;
    /* padding-right: .3em; */
    font-weight: 100 !important;
    text-transform: capitalize;
    letter-spacing: .5px;
    overflow: hidden;
    white-space: nowrap;
    animation: blink-caret 0.8s step-end infinite,
    typing 6s 3s steps(25) infinite;
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: #FBFEF9}
}

@keyframes typing {
    0% {width: 0ch}
    25% {width: 13ch}
    50% {width: 27ch}
    100% {width: 27ch}
}

i.ion-code {
    font-size: 1em;
}

.heading {
    text-align: center;
    color: #FBFEFA;
    padding: 11em 0em;
}

.contact, contact:visited {
    display: inline-block;
    margin-top: 1em;
    color: #FBFEFA;
    font-size: 2.2em;
    border: 2px solid #FBFEFA;
    padding: 12px 20px;
    border-radius: 3px;
    transition: all .3s ease;
}

i {
    font-size: 1.5em;
    padding-right: .3em;
}

.inside-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.contact:hover {
    background: #FBFEFA;
    color: #639EFF;
}

.navigation {
    background-color: transparent;
    /* padding: 1.5em; */
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 1em;
    transition: 0.3s ease;
}

.after-scroll {
    padding: 1.5em;
    background-color: #FBFEFA;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.new-anchor { 
    color: #639EFF !important;
}

.nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 3em;
    /* color: #3683FF; */
    color: #FBFEFA;
    border: 2px solid #FBFEFA;
    border-radius: 3px;
    padding: .25em .35em;
}

nav {
    margin-left: auto;
}

nav ul {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin: 1em;

}

nav ul li a {
    color: #FBFEFA;
    font-size: 2em;
    font-weight: 400;
}

.menu-trigger {
    display: none;
}

.about-section {
    padding: 8em 0em;
    position: relative;
}

.section-header {
    font-size: 5.5em;
    text-align: center;
    padding: 1em 0;
    color: #2D2B29;
}

h1 span {
    color: #639EFF;
    font-weight: 400;
}

.wid i {
    color: #639EFF;
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 57.5%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.around-font {
    display: inline-block;
    background-color: #E2EDFF;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin-right: 1em;
}

.around-font::after {
    content : "";
    position: absolute;
    height: 1em;
    width: 1em;
    background-color: #E2EDFF;
    top: 44%;
    left: 90%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wid {
    
    text-align: center;
}

.wrapper-card {
    width: 60%;
    margin: 0 auto;
}

.card-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    padding: 2em;
    text-align: center;

}

.card h1 {
    font-size: 2.5em;
    font-weight: 400;
    color: #2D2B29;
}

.card-body p {
    font-size: 2em;
    width: 15em;
    margin: 0 auto;
    padding-top: .5em;
    color: #797876;
    line-height: 1.5;
}

.card-body a, .card-body a:visited {
    color: #639EFF;
}

#ryan-section {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about-me {
    background-color: #E2EDFF;
    /* display: inline-block; */
    text-align: center;
    height: 23em;
    width: 23em;
    border-radius: 50%;
    position: relative;
}

.ryan-img {
    width: 16em;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-me::after {
  content: "";
  position: absolute;
  height: 1.7em;
  width: 1.7em;
  background-color: #E2EDFF;
  top: 95%;
  left: 46.7%;
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
}

.p-wrapper {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;;
}

.p-wrapper p {
    color: #797876;
    line-height: 1.5;
    font-size: 2em;
    text-align: center;
}

.icons .icon {
    font-size: 2.8em;
    color: #639EFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.around-icon {
    background-color: #E2EDFF;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin-right: 1em;
}

.around-icon::after {
    content: "";
    position: absolute;
    height: 1em;
    width: 1em;
    background-color: #E2EDFF;
    top: 42%;
    left: 85%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons .around-header h2 {
    font-size: 1.5em;
    color: #2D2B29;
    font-weight: 700;
    text-transform: uppercase;

}

.skill-wrapper {
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.star-bar ul {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.5em 0em;
    margin-left: 1.5em;
}

.star-bar ul li {
    color: #242321;
    display: inline-block;
    font-size: 1.5em;
    margin: 2.5px;
}

.html ul li:nth-child(1n+5) {
    color: #8C8986;
}

.each-icon {
    margin: 3em 0em;
}

.fade-one {
    position: absolute;
    font-size: 15em;
    color: rgba(226, 225, 224, 0.425);
    left: 5%;
    top: 4%;
    transform: rotate(-20deg);
    z-index: -5;
}

.fade-two {
    font-size: 15em;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    transform: rotate(20deg);
    color: rgba(226, 225, 224, 0.425);
}

.fade-three {
    font-size: 7em;
    color: rgba(226, 225, 224, 0.425);
    position: absolute;
    bottom: 8%;
    left: 5%;
    transform: rotate(-20deg);
}

.projects-section {
    padding: 8em 0em;
    background-color: #E2EDFF;
    position: relative;
}

.fade-one-project {
    position: absolute;
    font-size: 14em;
    color: #79787611;
    right: 10%;
    top: 2.5%;
    transform: rotate(15deg);
}

.fade-two-project {
    position: absolute;
    font-size: 14em;
    color: #79787611;
    left: 4%;
    bottom: 2%;
    transform: rotate(-15deg);
}

.projects-section:after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    top: 100%;
    left: 50%;
    margin-left: -2.5em;
    background: #E2EDFF;
    transform: rotate(45deg);
    margin-top: -2.5em;
    z-index: -5;
}

.projects-header {
    padding-bottom: 0.5em;
}

.wrapper-project { 
    width: 65%;
    margin: 0 auto;
}

.project-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
}

.project-column-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10em 0em;
}

/* .project-column-two .the-first-row {
    order: 2;
} */

.the-second-row img {
    max-width: 100%;
    border-radius: 2px;
}

.project-column-two img {
   max-width: 100%;
   border-radius: 2px;
}

.project-column-two .the-second-row {
    text-align: right;
}

.project-column-two .the-second-row .project-paragraph {
    margin-left: auto;
}

.project-column-two .the-second-row .technologies {
    justify-content: flex-end;
}

.two, .three {
    margin-top: 0em;
}

.project-header {
    font-size: 2.5em;
    font-weight: 400;
    color: rgb(45, 43, 41);
}

.small {
    font-size: 2em;
    padding-top: .5em;
}

.project-paragraph {
    font-size: 2em;
    padding-top: .5em;
    color: #797876;
    line-height: 1.5;
    width: 75%;
}

.link-to-github {
    border-color: #639EFF;
    color: rgb(45, 43, 41);
    color: #639EFF;
    padding: 10px 18px;
    transition: all .3s ease;
    font-size: 1.7em;
    margin-left: .2em;
}

.demo {
    margin-right: .2em;
}

.link-to-github:hover {
    color: #E2EDFF;
    background-color: #639EFF;
}

.technologies {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.technology {
    background-color: #639EFF;
    height: 4em;
    width: 4em;
    margin-right: 0.8em;
}

.technologies .icons {
    margin-right: 0.5em;
}

.technology::after {
    content: "";
    background-color: #639EFF;
    position: absolute;
    height: .8em;
    width: .8em;
    top: 42%;
    left: 85%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
}

.technology .icon {
    color: #E2EDFF;
    font-size: 2.2em;
    margin-right: .3em;
}

.section-contact {
    padding: 8em 0em;
    position: relative;
}

.fade-one-contact {
    position: absolute;
    font-size: 10em;
    color: #797876;
    opacity: 0.11;
    right: 12%;
    top: 14.5%;
    transform: rotate(10deg);
}

.fade-two-contact {
    position: absolute;
    font-size: 10em;
    color: #797876;
    opacity: 0.11;
    left: 12%;
    bottom: 14.5%;
    transform: rotate(-10deg);
}

.p-contact {
    font-size: 1.1em;
    padding-bottom: 2.5em;
}

.a-contact {
    color: #639EFF;
    border-color: #639EFF;
}

.a-contact:hover {
    color: #E2EDFF;
    background-color: #639EFF;
}

.text-center {
    text-align: center;
}

.contact-links .around-icon {
    height: 7em;
    width: 7em;
    text-align: center;
    position: relative;
}

.contact-links .around-icon::after {
    content: "";
    height: .8em;
    width: .8em;
    background-color: #E2EDFF;
    top: 93%;
    left: 45%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
}

.contact-links .around-icon .fa-facebook {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3b5998;
}

.icon-link-facebook {
    font-size: 1.5em;
    color: #639EFF;
    font-family: inherit;
    font-weight: 700;
    margin-left: -10px;
    margin-top: 7px;
}

.icon-link-facebook span {
    color: #3b5998;
    padding: 7px;
    background-color: #E2EDFF;
    border-radius: 2px; 
}

.contact-links .around-icon .fa-twitter {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1da1f2;
}

.icon-link-twitter {
    font-size: 1.5em;
    color: #639EFF;
    font-family: inherit;
    font-weight: 700;
    margin-left: -10px;
    margin-top: 7px;
}

.icon-link-twitter span {
    color: #1da1f2;
    padding: 7px;
    background-color: #E2EDFF;
    border-radius: 2px; 
}

.contact-links .around-icon .fa-instagram {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c32aa3;
}

.icon-link-instagram {
    font-size: 1.5em;
    color: #639EFF;
    font-family: inherit;
    font-weight: 700;
    margin-left: -10px;
    margin-top: 7px;
}

.icon-link-instagram span {
    color: #c32aa3;
    padding: 7px;
    background-color: #E2EDFF;
    border-radius: 2px;  
}

.contact-links .around-icon .fa-github {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}

.icon-link-github {
    font-size: 1.5em;
    color: #639EFF;
    font-family: inherit;
    font-weight: 700;
    margin-left: -10px;
    margin-top: 7px;
}

.icon-link-github span {
    color: #333;
    padding: 7px;
    background-color: #E2EDFF;
    border-radius: 2px;  
}

.contact-links {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7em 0em;
}

footer {
    /* background-color: #373736; */
    /* background-color: #424241; */
    background-color: #F2F2F2;
    /* color: rgba(251, 254, 250, 0.816); */
    color: #373736;
    padding: 8em 0em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo, .rights {
    margin-bottom: .7em;
    color: #373736;
    border-color: #373736;
}

footer p {
    font-size: 1.6em;
}

footer  a {
    color: #639EFF;
}

.footer-links {
    position: relative;
    transition: 0.2s ease-in-out;
}

.footer-links:after {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #639EFF;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(9px);
    opacity: 0;
    transition: 0.5s ease;
}

.footer-links:hover::after {
    opacity: 1;
    transform: translateY(3px);
}

footer #heart {
    color: #E84855;
}

@media (max-width: 661px) {

    .logo {
        font-size: 2.7em;
    }

    .nav ul li a {
        font-size: 1.7em;
    }

    h1 {
        font-size: 5em;
    }

    .contact {
        padding: 10px 18px;
    }

    .job {
        font-size: 2em;
    }

    .menu-trigger {
        display: block;
        position: fixed;
        right: 5%;
        top: 3%;
        font-size: 1.7em;
        cursor: pointer;
        color: #FBFEFA;
    }

    .nav {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        text-align: center;
        margin-right: auto;
        display: none;
        padding: 2em;
    }

    nav ul li {
        display: block;
        padding: .5em;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .section-header {
        font-size: 4.5em;
    }
    
    .wrapper-card {
        width: 90%;
        margin: 0 auto;
    }
    
    .card-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-me {
        background-color: #E2EDFF;
        /* display: inline-block; */
        text-align: center;
        height: 21em;
        width: 21em;
        border-radius: 50%;
        position: relative;
    }
    
    .ryan-img {
        width: 14em;
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .skill-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .project-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5em;
    }

    .project-column-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5em;
        margin-bottom: 2.5em;
    }

    .project-column-two .the-second-row {
        text-align: center;
        margin-top: 2.5em;
    }

    .project-paragraph {
        width: 85%;
        margin: 0 auto;
    }

    .project-column .the-first-row {
        order: 2;
        margin-top: 2.5em;
    }

    .project-column .technologies {
        display: inline-block;
        text-align: center;
    }

    .project-column .technologies .icons{
        display: inline-block;
    }

    .project-column a.contact {
        display:block;
    }

    .project-column-two .the-second-row .technologies {
        display: inline-block;
        text-align: center;
    }

    .project-column-two .the-second-row .technologies .icons {
        display: inline-block;
    }

    .project-column-two .the-second-row a.contact {
        display: block;
    }

    .technology::after {
    content: "";
    background-color: #639EFF;
    position: absolute;
    height: .8em;
    width: .8em;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    }

    .contact-links {
        width: 65%;
        margin: 0 auto;
    }
    
    .fade-two {
        font-size: 15em;
        position: absolute;
        top: 42.5%;
        left: 65%;
        transform: translate(-50%, -50%);
        transform: rotate(20deg);
        color: rgba(226, 225, 224, 0.425);
    }

    .nav .logo {
        margin-right: auto;
    }

    footer .wrapper-footer {
        width: 80%;
        margin: 0 auto;
    }
    
}

@media (max-width: 480px) {

    .logo {
        font-size: 2.5em;
    }

    .nav ul li a {
        font-size: 1.6em;
    }

    h1 {
        font-size: 3.6em;
    }

    .developer {
        font-size: 2.6em;
    }

    .job {
        font-size: 1.6em;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .contact, contact:visited {
        
        font-size: 1.6em;

        font-weight: 400;
        
        padding: 8px 16px;
        
    }

    .nav .logo {
        margin-right: auto;
    }

    .menu-trigger {
        display: block;
        position: fixed;
        right: 6%;
        top: 3.5%;
        font-size: 1.6em;
        cursor: pointer;
        color: #FBFEFA;
    }

    .nav {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        text-align: center;
        margin-right: auto;
        display: none;
    }

    nav ul li {
        display: block;
    }

    .section-header {
        font-size: 2.5em;
    }
    
    .wrapper-card {
        width: 90%;
        margin: 0 auto;
    }
    
    .card-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        padding: 2em;
        text-align: center;
    
    }
    
    .card h1 {
        font-size: 1.8em;
        font-weight: 700;
        color: #2D2B29;
    }
    
    
    .card-body p {
        font-size: 1.6em;
        width: 90%;
        margin: 0 auto;
        padding-top: .5em;
        color: #797876;
        line-height: 1.5;
    }

    .about-me {
        background-color: #E2EDFF;
        /* display: inline-block; */
        text-align: center;
        height: 18em;
        width: 18em;
        border-radius: 50%;
        position: relative;
    }
    
    .ryan-img {
        width: 11em;
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .p-wrapper {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10px;;
    }
    
    .p-wrapper p {
        color: #797876;
        line-height: 1.5;
        font-size: 1.6em;
        text-align: center;
    }
    
    .skill-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .project-header {
        font-size: 1.8em;
    }

    .project-paragraph {
        font-size: 1.6em;
        width: 100%;
        margin: 0 auto;
    }

    .project-column .technologies {
        display: inline-block;
        text-align: center;
    }

    .project-column .technologies .icons{
        display: inline-block;
    }

    .project-column a.contact {
        display:block;
    }

    .fade-one {
        font-size: 11em;
    }

    .fade-two {
        font-size: 7em;
        position: absolute;
        top: 40.3%;
        left: 57%;
        transform: translate(-50%, -50%);
        transform: rotate(20deg);
        color: rgba(226, 225, 224, 0.425);
    }

    .contact-links {
        width: 80%;
        margin: 0 auto;
    }
    
    .contact-links .around-icon {
        height: 4em;
        width: 4em;
        text-align: center;
        position: relative;
    }

    .contact-links .around-icon .fa-facebook {
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #3b5998;
    }

    .contact-links .around-icon .fa-twitter {
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #1da1f2;
    }

    .contact-links .around-icon .fa-instagram {
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #c32aa3;
    }

    .contact-links .around-icon .fa-github {
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #333;
    }

    .icon-link-facebook, .icon-link-twitter, .icon-link-instagram, .icon-link-github  {
        font-size: 1em;
    }

    footer .wrapper-footer {
        width: 80%;
        margin: 0 auto;
    }

}